annotated-types==0.7.0
anyio==4.14.1
certifi==2026.6.17
click==8.3.2
click-default-group==1.2.4
emoji==2.15.0
fonttools==4.62.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.18
jsonpath-python==1.1.6
Kurigram==2.2.19
openrouter==0.10.8
pillow==12.2.0
pluggy==1.6.0
pyaes==1.6.1
pyaml==26.7.0
pydantic==2.13.4
pydantic_core==2.46.4
PySocks==1.7.1
python-dateutil==2.9.0.post0
PyYAML==6.0.3
six==1.17.0
sqlite-fts4==1.0.3
sqlite-utils==3.39
tabulate==0.10.0
TgCrypto-pyrofork==1.2.8
typing-inspection==0.4.2
typing_extensions==4.15.0
